<div class="page">
    <div class="page_content">
        <div class="page_block">
<header class="header">
    {{#with header}}
    <div class="logo">
        <span class="badge">{{brandName}}</span>
    </div> 
     <div class="user">Users online: {{userOnline}} </div>

   
    <div class="header_ad">  
   {{#with ad}}
   
   <div class="ad_logo">
    <span class="ad_badge">Ad</span>
    </div>

    <div class="ad_text"> {{text}}: {{url}}</div>
   
    

   {{/with}}
   </div>
    <nav class="header_nav">
        <div class="nav_right">
            <div class="nav">
                {{#each links}}
                 <a href="{{url}}" class="nav_link">{{text}}</a>
                {{/each}}
            </div>
            
        </div>
    </nav>
  {{/with}}  
</header>

<div class="page_block">
    <div class="hero">
{{#with hero}}
   <div class="hero_content">
<h1 class="hero_title">{{title}}</h1>
<p class="hero_description">{{description}}</p>
</div>
{{#with button}}
<a class="hero_btn" href="{{url}}">{{text}}</a>

{{/with}}
{{/with}}
</div>
</div>

<div class="block_about">
    {{#with about}}
    <div class="about">
        <h2 class="about_heading">{{heading}}</h2>
        <p class="about_info">{{info}}</p>
    </div>
    {{/with}}
</div>

<div class="card_articles">
    
    <div class="articles_heading">
        <h2 class="art_head">Our Articles</h2>
    </div>
    <div class="articles_button">
        <button class="view" type="submit">View All</button>
    </div>
    </div>

    <div class="card_form">
        {{#each articles}}
        <div class="card">
        <img class="card_image" src="{{photo}}" alt="image">
                <h2 class="card_title">{{name}}</h2>
                <p class="card_description">{{description}}</p>
                <button class="card_btn" href="#">Raed All</button>
           </div>
        {{/each}}
    </div>

<footer class="footer">
    {{#with footer}}
    <div class="footer_cop">
    <div class="footer_copyright">{{copyright}}</div>
     </div>
    <div class="pages_nav">
    {{#each pages}}
   
     <a href="{{path}}" class="pages_link">{{name}}</a>
    {{/each}}
    </div>
</div>
    {{/with}}
</footer>

</div>
</div>
</div>