{{#with data}}
 <div class="card">
                <img class="card_image" src="{{photo}}" alt="image">
                <h2 class="card_title">{{heading}}</h2>
                <p class="card_info">{{info}}</p>
                <a class="card_link" href="{{linkUrl}}">{{linkText}}</a>
            </div>
 {{/with}}           